<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Mensajes, notificaciones y alertas</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>Title</key>
			<string>Sonido</string>
			<key>Key</key>
			<string>sonido_msj</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Vibrar</string>
			<key>Key</key>
			<string>vibrar_msj</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Conexión cada</string>
			<key>Titles</key>
			<array>
				<string>5</string>
				<string>15</string>
				<string>30</string>
			</array>
			<key>Values</key>
			<array>
				<string>5</string>
				<string>15</string>
				<string>30</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>intervalo_cheq_msjs</string>
			<key>DefaultValue</key>
			<string>5</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
